<footer class="relative py-8">
  <div
    class="absolute inset-x-0 top-0 h-px bg-gradient-to-r from-transparent via-white/20 to-transparent"
  ></div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mb-8">
      <div>
        <h3 class="text-white font-bold mb-4">{{ site.title }}</h3>
        <p class="text-sm text-grey">{{ site.description }}</p>
        <a href="https://www.linkedin.com/company/third-helix" target="_blank">
          <svg style="fill: white; height: 32px; width: 32px; margin-top: 16px; text-align: center; margin: 24px auto 0; border: 1px solid white; border-radius: 2px; padding: 5px;" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="-4 -2 32 32">
            <path
              d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z">
            </path>
          </svg>
        </a>
      </div>
      <div>
        <h3 class="text-white font-bold mb-4">Quick Links</h3>
        <ul class="space-y-2">
          {% for item in site.data.navigation %}
            <li>
              <a
                href="{{ item.link }}"
                class="text-sm text-grey hover:text-white transition duration-300"
                >{{ item.name }}</a
              >
            </li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3 class="text-white font-bold mb-4">Locations</h3>
        <ul class=" text-grey text-sm">
            <li>Cincinnati, Ohio</li>
            <li>Miami, Florida</li>
        </ul>
        <h3 class="text-white font-bold mt-4 mb-4">Mailing Address</h3>
        <ul class="space-y-2 text-grey text-sm">
          {% if site.contact.address %}
            <li>{{ site.contact.address }}</li>
          {% endif %} 
          {% if site.contact.email %}
            <li>
              <a
                href="mailto:{{ site.contact.email }}"
                class="text-grey hover:text-white transition duration-300"
                >{{ site.contact.email }}</a
              >
            </li>
          {% endif %} 
          {% if site.contact.phone %}
            <li>
              <a
                href="tel:{{ site.contact.phone }}"
                class="text-grey hover:text-white transition duration-300"
                >{{ site.contact.phone }}</a
              >
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="pt-8 border-t border-white/10 text-grey text-sm">
      <p>
        &copy; {{ 'now' | date: "%Y" }} {{ site.title }}, Inc. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
